<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_head %>
</head>

<body style="font-size:20px; padding:50px; background-color:#BEB7A4">
  <!-- Add EJS code here -->
  <% include ./partials/_header %>
  <div style="display:block; margin:auto; text-align:center">
    <a style="margin:0.5em" class="btn btn-success" aria-pressed="true" href="./urls/new"> Create New TinyURL!</a>
  </div>
  <table class="table table-bordered table-hover">
    <th scope="col">URL</th>
    <th scope="col">ShortURL</th>
    <th scope="col">Edit this URL</th>
    <th scope="col">Delete</th>
    <% for (url in urls) { %>
    <tr>
      <td>
        <a href=<%= urls[url] %>><%= urls[url] %></a>
      </td>
      <td>
        <a href=<%=`../u/${url}`%>><%=url %></a>
      </td>
      <td>
        <a class="btn btn-secondary" href=<%=`./urls/${url}`%>>Edit</a>
      </td>
      <td>
        <form method="POST" action=<%=`/urls/${url}/delete`%>>
          <button type="submit" class="btn btn-danger">X</button>
        </form>
      </td>
    </tr>
    <% }; %>
  </table>
</body>

</html>