<!DOCTYPE html>
<html lang="en">

<% include ./partials/_head %>

<body style="font-size:20px; padding:50px; background-color:#BEB7A4">
  <!-- Add EJS code here -->
  <% include ./partials/_header %>
  
  <table class="table table-bordered table-hover">
    <th style="text-align:center" scope="col">URL</th>
    <th style="text-align:center" scope="col">ShortURL</th>
    <th style="text-align:center" scope="col">Edit</th>
    <th style="text-align:center" scope="col">Delete</th>
    <% for (url in urls) { %>
    <tr>
      <td>
        <a href="<%= urls[url] %>"><%= urls[url] %></a>
      </td>
      <td>
        <a href="../u/<%=url%>"><%=hostURL + url %></a>
      </td>
      <td style="text-align:center">
        <a class="btn btn-secondary" href="/urls/<%=url%>">Edit</a>
      </td>
      <td style="text-align:center">
        <form method="POST" action="/urls/<%=url%>/delete">
          <button type="submit" class="btn btn-danger">X</button>
        </form>
      </td>
    </tr>
    <% }; %>
  </table>
</body>

</html>