<!DOCTYPE html>
<html lang="en">

<% include ./partials/_head %>

<body style="font-size:20px; padding:50px; background-color:#BEB7A4">
  <!-- Add EJS code here -->
  <% include ./partials/_header %>
  
  <table class="table table-bordered">
  <thead style="text-align:center" class="table-dark">
    <th scope="col">URL</th>
    <th scope="col">ShortURL</th>
    <th scope="col">Clicks</th>
    <th scope="col">Unique Clicks</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </thead>
  <tbody style="text-align:center" class="table-hover">
    <% for (url in urls) { %>
    <tr>
      <td>
        <a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a>
      </td>
      <td>
        <a href="../u/<%=url%>"><%=hostURL + url %></a>
      </td>
      <td>
        <p><%= urls[url].clicks.length %></p>
      </td>
      <td>
        <p><%= urls[url].visitors.length %></p>
      </td>
      <td>
        <a class="btn btn-secondary" href="/urls/<%=url%>?_method=PUT">Edit</a>
      </td>
      <td>
        <form method="POST" action="/urls/<%=url%>?_method=DELETE">
          <button type="submit" class="btn btn-danger">X</button>
        </form>
      </td>
    </tr>
    <% }; %>
  </tbody>
  </table>
</body>

</html>